<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Time Until the Thing</title>
    <meta name="Description" content="A week in the Smoky Mountains, with a hottub and a view?! I'm there! Well, we'll be on the way when this counter hits zero, at least!">

    <meta property="og:title" content="Time Until the Thing" />
    <meta property="og:description" content="A week in the Smoky Mountains, with a hottub and a view?! I'm there! Well, we'll be on the way when this counter hits zero, at least!" />
    <meta property="og:image" content="/images/mountains-share.jpg" />
    
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <style>
      html, body {
        height: 100%;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size:16px;
      }
      body {
        position:relative;
        display:flex;
        align-items: center;
        justify-content: center;
        margin:0;
        padding:0;
      }
      body::before {
        content:'';
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background: url(images/mountains.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        filter: grayscale(100%);
      }
      #content {
        background-color: #fff;
        opacity: .8;
        padding:2em;
        border-radius:5px;
      }
      #clock {
        display:flex;
        flex-direction:column;
      }
      @media (min-width:400px) {
        #clock {
          flex-direction:row;
        }
      }
      #clock > div {
        padding:1em;
        text-align:center;
        font-weight:bold;
      }
      #clock div[class*="container"] {
        font-weight:normal
      }

    </style>
  </head>
  <body><%- page === 'index' ? require('./partials/index.ejs')() : require('./partials/app.ejs')() %></body>
</html>
